  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body{
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  :root{
    --ui-color: #fff;
  }

  *{
    box-sizing: border-box;
  }


  header, .cl-userButtonOuterIdentifier{
    color: var(--ui-color);
}

#header-sign-out{
  color: var(--ui-color);
  border-color: var(--ui-color);
}

